{% block table -%}
    <table>
        {{ node }}
    </table>
{% endblock %}

{% block table_row -%}
    <tr>
        {{ node }}
    </tr>
{% endblock %}

{% block table_cell -%}
    <td>{{ node }}</td>
{% endblock %}
