# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

# Ignore all test and documentation with "export-ignore".
/commonmark-banner.png  export-ignore
/.editorconfig        export-ignore
/.gitattributes       export-ignore
/.github              export-ignore
/.gitignore           export-ignore
/.nojekyll            export-ignore
/.scrutinizer.yml     export-ignore
/.styleci.yml         export-ignore
/CHANGELOG-0.x.md     export-ignore
/CHANGELOG-1.x.md     export-ignore
/CLAUDE.md            export-ignore
/docker               export-ignore
/docker-compose.yml   export-ignore
/docs                 export-ignore
/phpcs.xml.dist       export-ignore
/phpstan.neon.dist    export-ignore
/phpunit.xml.dist     export-ignore
/psalm.xml            export-ignore
/RELEASE_CHECKLIST.md export-ignore
/roave-bc-check.yaml  export-ignore
/tests                export-ignore
